.price, .datetime {
    min-width: 100px;
    display: inline-block;
}

.price {
    color: $primary;
    font-weight: bold;
    font-size: 15px;
}

.post-avatar {
    height: 80px;
    width: 80px;
    position: relative;
    background-size: cover;
    label {
        position: absolute;
        top: 1px;
        left: 1px;
        background: gray;
        color: white;
        padding: 2px;
        font-size: 0.8em;
        border-radius: 4px;

    }

}
.author-avatar{
    height: 16px;
}
