.mselect {
    width: 100%;
    height: 100%;
    font-size: .875rem;
    color: $black-light;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    padding: 11px 12px 0;
    border-radius: 4px;
    background-color: $white;
    cursor: pointer
}

.mselect.required + label:after {
    content: "*";
    margin-left: 4px;
    color: $danger;
}

//.mselect.isDropdown {
//    cursor: pointer
//}

.mselect:disabled {
    background-color: $gray-light;
    cursor: default
}

.mselect.noLabel {
    padding-top: 0
}

.mselect.hasValue + label, .mselect:-webkit-autofill + label {
    transform: scale(.7143) translateY(-10px);
    font-weight: 700
}

.p131urh5 {
    color: $gray;
    font-size: .625rem;
    min-height: 16px;
    margin-left: 12px;
    line-height: 1.5
}

.s131j4vo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    line-height: 16px;
    height: var(--s131j4vo-1);
    width: fit-content;
    padding: 8px 12px;
    border-radius: 9999px;
    background-color: $gray-light;
    font-size: var(--s131j4vo-6);
    cursor: pointer;
    min-width: var(--s131j4vo-7);
    text-align: center
}

.s131j4vo.onMultiActiveTagCloud:not(.active):hover {
    background-color: $gray-light;
    color: $black-light;
}

.s131j4vo.active {
    background-color: $primary-dark;
    color: $primary
}

.s131j4vo.active:hover {
    color: $primary
}

.c14jmev1:focus, .c14jmev1:link, .c14jmev1:visited {
    outline: none;
    color: $black-light
}

.c14jmev1:hover, .c14jmev1:not([href]):hover {
    background-color: $primary-dark;
    color: $primary
}

.s6gb1av .chip-wrapper {
    display: flex;
    flex-wrap: wrap
}

.s6gb1av .chip-wrapper > * {
    margin-right: 8px;
    margin-bottom: 8px
}

.s1jyec19 {
    display: block;
    font-size: .625rem;
    color: $gray;
    line-height: 1.5;
    font-weight: 700
}

.s1jyec19.required:after {
    content: "*";
    margin-left: 4px;
    color: $danger;
}


.c14gw4h button {
    display: inline-block
}

.form-textarea {
    margin-bottom: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid $gray-light;
    height: 100%;
}

.form-textarea.resize-both {
    resize: both;
    overflow: auto
}

.form-textarea.resize-vertical {
    resize: vertical;
    overflow: auto
}

.form-textarea.resize-horizontal {
    resize: horizontal;
    overflow: auto
}

.form-textarea > .focus-capture {
    cursor: text;
    height: 30px
}

.form-textarea.disabled > .focus-capture {
    cursor: auto
}

.form-textarea > label {
    position: absolute;
    top: 11px;
    left: 13px;
    cursor: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform-origin: top left;
    transition: transform .1s ease;
    color: $gray;
    font-size: .875rem
}


.sodjbf4 {
    margin-bottom: 10px;
    border-radius: 4px;
    width: 100%;
    padding: 0 12px 4px;
    outline: none;
    border: none;
    line-height: 20px;
    height: calc(100% - 30px);
    resize: none;
    background-color: $white;
}

.setting-dropdown {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;

    .btn-3dot {
        background-image: url(http://sayo.vn/img/icon/sayo-setting.svg);
        background-position: right;
        background-repeat: no-repeat;
        height: 15px;
        width: 30px;
        border: none;
        background-color: transparent;
    }

    .dropdown {
        margin: 0;
        visibility: hidden;

        &--open {
            visibility: visible;
        }

        li {
            border: 1px solid $white-gray;
            display: block;
            padding: 5px;
            cursor: pointer;
        }
    }


}
.btn {
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: $gray-light;
    //border: 1px solid hsla(0, 0%, 61%, 0.7);
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    outline: none;
    border: none;

    &:hover {
        background: $gray-light;
        color: $white;
    }

    i {
        width: 1em;
        height: 1.3em;
        color: $black-light;

        background-size: 1em 1.3em;
        background-repeat: no-repeat;
    }

    .clear {
        position: absolute;
        top: -2px;
        right: 2px;
        padding: 5px;
        opacity: 0.5;

        &:hover {
            opacity: 1;

            &:after, &:before {
                //background-color: white !important;

            }
        }

    }

    svg {
        //pointer-events: none;
        width: 16px;
        height: 22px;
    }

    &--primary {
        background: $primary;
        color: $white;
        border: none;
        cursor: pointer;
        font-weight: 400;
        text-decoration: none;

        svg {
            width: 22px;
            height: 22px;
            fill: $white;
        }

        &:hover {
            background-color: $primary-dark;
            border-color: $primary-dark;
            svg {
                fill: $white;
            }
        }

        &:active {
            color: $white;
            background-color: $primary-dark;
            border-color: $primary-dark;
            svg {
                fill: $white;
            }
        }

        &.i-left {
            > svg {
                margin-right: .5em;
                margin-left: 0;
                font-size: 1rem;
            }
        }
    }

    &--oval {
        border: 1px solid $secondary;
        border-radius: 20px;
        color: $secondary;
        &:hover {
            background-color: $gray-light
        }
    }

    &--large {
        padding: 8px 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &--small {
        padding: 4px 8px;
    }

    &.danger{
        color: $white;
    }

    &--gray {
        background: $white-gray;
        color: $black-light;
        border: none;
        cursor: pointer;
        font-weight: 400;
        text-decoration: none;

        svg {
            width: 22px;
            height: 22px;
            fill: $black-light;
        }

        &:hover {
            background-color: $primary;
            border-color: $primary;
            svg {
                fill: $white;
            }
        }

        &:active {
            color: $white;
            background-color: $primary-dark;
            border-color: $primary-dark;
            svg {
                fill: $white;
            }
        }
    }
}
.btn-group{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.btn-sm, .btn-group-sm > .btn, .btn-icon.btn-sm {
    padding: 5px 10px !important;
}

input {
    height: 36px;
}

.minput {
    width: 100%;
    height: 100%;
    color: $black-light;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    padding: 12px 12px 0;
    border-radius: 4px;
    background-color: $white
}

.minput.required + label:after {
    content: "*";
    margin-left: 4px;
    color: $danger;
}

.minput.isDropdown {
    cursor: pointer
}

.minput:disabled {
    background-color: $gray-light;
    cursor: default
}

.minput.noLabel {
    padding-top: 0
}

.minput.hasValue + label, .minput:-webkit-autofill + label {
    transform: scale(.7143) translateY(-10px);
    font-weight: 700
}

.minput:focus + label {
    transform: scale(.7143) translateY(-10px);
    font-weight: 700
}

.form-control {
    height: 48px;
    position: relative;
    border-radius: 4px;
    border: 1px solid $gray-light;
    background-color: $white;
    margin-bottom: 20px;

    &.error {
        margin-bottom: 40px;
    }

    .btn-close {
        &.show {
            display: flex;
        }

        display: none;
    }
}

.form-control:focus-within {
    border-color: $danger;
}

.form-control.error {
    border-color: $error;
}

.form-control.error p {
    color: $error;
}

.form-control.disabled {
    border-color: $gray-light;
    background-color: $gray-light;
}

.form-control > label {
    position: absolute;
    top: 13px;
    left: 12px;
    cursor: text;
    pointer-events: none;
    transform-origin: top left;
    transition: transform .1s ease;
    color: $gray;
    font-size: .875rem
}

.form-control > button {
    background: transparent;
    outline: none;
    border: none;
    height: 48px;
    min-width: 16px;
    position: absolute;
    top: 0;
    right: 5px;
    color: $info;
    padding: 8px
}

.form-control > .password {
    top: -1px
}

.form-control svg {
    font-size: .75rem
}

.form-control > svg {
    height: 48px;
    top: -1px;
    right: 12px;
    pointer-events: none;
    position: absolute;
}
.btn-like-page{
    display: inline-block;

}
