.upload-files {
    display: flex;
    gap: 10px;

    .preview {
        gap: 10px;
        display: flex;

        img {
            height: 100px;
        }
    }
}


.btn {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: silver;
    color: white;

    svg {
        //pointer-events: none;
        width: 16px;
        height: 22px;
    }

    &--primary {
        background: $background-color_1;
        color: white;
    }

}

button {
    display: flex;
    gap: 5px;

    i {
        width: 1em;
        height: 1.3em;
        color: #222;
        background-image: url(https://static.chotot.com/storage/chotot-icons/svg/new-location.svg);
        background-size: 1em 1.3em;
        background-repeat: no-repeat;
    }
}
