.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: #f4f4f4;
    //border: 1px solid hsla(0, 0%, 61%, 0.7);
    white-space: nowrap;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    outline: none;
    border: none;

    &:hover {
        background: silver;
        color: white;

    }

    i {
        width: 1em;
        height: 1.3em;
        color: #222;

        background-size: 1em 1.3em;
        background-repeat: no-repeat;
    }

    .clear {
        position: absolute;
        top: -2px;
        right: 2px;
        padding: 5px;
        opacity: 0.5;

        &:hover {
            opacity: 1;

            &:after, &:before {
                //background-color: white !important;

            }
        }

    }

    svg {
        //pointer-events: none;
        width: 16px;
        height: 22px;
    }

    &--primary {
        background: $primary;
        color: $white;
        border: none;
        cursor: pointer;
        font-weight: 400;
        text-decoration: none;

        &:hover {
            background-color: $primary-dark;
            border-color: $primary-dark;
        }

        &:active {
            color: $white;
            background-color: $primary-dark;
            border-color: $primary-dark;
        }

        &.i-left {
            > svg {
                margin-right: .5em;
                margin-left: 0;
                font-size: 1rem;
            }
        }
    }
    &--oval {
        border: 1px solid $secondary;
        border-radius: 20px;
        color: $secondary;
        &:hover {
            background-color: #e2e6ea
        }
    }
    &--large {
        padding: 8px 20px;
        text-transform: uppercase;
        font-weight: bold;
    }

    &--small {
        padding: 4px 8px;
    }

    &.danger{
        color: white;
    }

}

i {
    height: 20px;
    width: 20px;
    background-size: cover;
    display: inline-block;


    &.location {
        background-image: url('/img/icon/location.svg');
    }

    &.label-dollar {
        background-image: url("/img/icon/price2.svg");
    }

    &.search {
        background-image: url('/img/icon/search-black.svg');
    }

    &.sitemap {
        background-image: url('/img/icon/sitemap.svg');
    }

    &.state-used {
        background-image: url('/img/icon/state_used.png');
    }

    &.product-type {
        background-image: url('/img/icon/product_type.png');
    }

    &.close {
        width: 10px;
        height: 10px;

        &:before, &:after {
            position: absolute;
            left: 5px;
            content: ' ';
            height: 10px;
            width: 3px;
            background-color: black;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

input {
    height: 36px;
}

.minput {
    width: 100%;
    height: 100%;
    color: #222;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    padding: 12px 12px 0;
    border-radius: 4px;
    background-color: #fff
}

.minput.required + label:after {
    content: "*";
    margin-left: 4px;
    color: #e5193b
}

.minput.isDropdown {
    cursor: pointer
}

.minput:disabled {
    background-color: #f4f4f4;
    cursor: default
}

.minput.noLabel {
    padding-top: 0
}

.minput.hasValue + label, .minput:-webkit-autofill + label {
    transform: scale(.7143) translateY(-10px);
    font-weight: 700
}

.minput:focus + label {
    transform: scale(.7143) translateY(-10px);
    font-weight: 700
}

label.selection__label {
    transform: scale(.7143) translateY(-10px);
    font-weight: 700
}

.upload-files {
    display: flex;
    gap: 10px;

    .preview {
        gap: 10px;
        display: flex;
        flex-wrap: wrap;

        img {
            height: 100px;
        }
    }
}

.dropdown {
    position: relative;

    &.show {
        .dropdown__content {
            display: block;
        }
    }

    &__content {
        background: white;

        //overflow: scroll;
        position: absolute;
        top: 36px;
        //border: 1px solid silver;
        display: none;
        z-index: 3;

        .head {
            position: relative;
            background-color: #f4f4f4;
            padding: 10px;

            h4 {
                text-align: center;
                margin: 0;
            }

            .dropdown__close {
                position: absolute;
                top: 5px;
                right: 0px;
                border: 0;
                opacity: 0.5;

                &:hover {
                    background: transparent;
                    opacity: 1;
                }
            }
        }

        .body {
            width: 300px;
            max-height: 300px;
        }

        &.show {
            display: block;
        }


        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                transition: opacity .5s ease-in;
                border-bottom: 1px solid #cacaca;
                position: relative;
                height: 45px;
                cursor: pointer;

                &:hover {
                    background-color: #f9f9f9
                }

                a {
                    color: inherit;
                    display: flex;
                    align-items: center;
                    text-decoration: inherit;
                    width: 100%;
                    font-size: 14px;
                    position: absolute;
                    line-height: 45px;
                    padding: 0 25px;

                    img {
                        height: 14px;
                        margin-left: auto;
                    }
                }
            }

            li a > span {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden
            }

            li a p {
                margin: 0;
                display: inline-flex
            }

            li a i {
                line-height: 45px
            }


        }
    }
}


.range {
    &__body {
        display: flex;
        align-items: center;
        padding: 10px;

        .line {
            height: 4px;
            background: #bdbdbd;
            margin: 0 0.625rem;
            width: 25px;
        }

        input {
            flex: 1;
            min-width: 0;
        }
    }
}

.selection {
    position: relative;

    &__list {
        min-width: 100%;
        max-height: 300px;
        position: absolute;
        top: 47px;
        left: 0;
        background-color: #fff;

        box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
        list-style: none;
        overflow-y: auto;
        padding: 0;
        z-index: 2;
        border-radius: $border;
        color: $color-disabled;
        display: none;

        &.show {
            display: block;
        }

        li {
            cursor: pointer;
            //color: #8c8c8c;
            padding: 8px 0 8px 12px;

            &:hover {
                background-color: #e8e8e8;
            }
        }
    }
}

.s-checkbox {
    position: relative;
    user-select: none;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 2px;

    >input {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.s-checkbox:not(.disabled)>input:not(:checked)+span {
    background-color: #f4f4f4;
    border-color: silver;
}

.s-checkbox.primary>span {
    color: #f80;
}
.s-checkbox>.checkbox {
    border-radius: 4px;
}
.s-checkbox>span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: currentColor;
    border: 1px solid;
}


.form-control {
    height: 48px;
    position: relative;
    border-radius: 4px;
    border: 1px solid silver;
    background-color: #fff;
    margin-bottom: 20px;

    &.error {
        margin-bottom: 40px;
    }

    .btn-close {
        &.show {
            display: flex;
        }

        display: none;
    }
}

.form-control:focus-within {
    border-color: #f80155
}

.form-control.error {
    border-color: #e5193b
}

.form-control.error p {
    color: #e5193b
}

.form-control.disabled {
    border-color: #f4f4f4;
    background-color: #f4f4f4
}

.form-control > label {
    position: absolute;
    top: 13px;
    left: 12px;
    cursor: text;
    pointer-events: none;
    transform-origin: top left;
    transition: transform .1s ease;
    color: #8c8c8c;
    font-size: .875rem
}

.form-control > button {
    background: transparent;
    outline: none;
    border: none;
    height: 48px;
    min-width: 16px;
    position: absolute;
    top: 0;
    right: 5px;
    color: #2a70df;
    padding: 8px
}

.form-control > .password {
    top: -1px
}

.form-control svg {
    font-size: .75rem
}

.form-control > svg {
    height: 48px;
    top: -1px;
    right: 12px;
    pointer-events: none;
    position: absolute;
}

@media (max-width: 767px) {
    .dropdown {
        &__content {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;

            .body {
                width: 100%;
            }
        }
    }

    //button, .btn {
    //    padding: 4px;
    //    font-size: 0.8em;
    //}
}

.form-textarea svg{
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
}

.tox-split-button__chevron svg {
    position: relative;
    top: 13px;
    left: 3px;
}




