*, :after, :before {
    box-sizing: border-box
}

body {
    margin: 0;
    background: $gray-light;
    color: $black-light;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;
}

section {
    margin-bottom: 20px;
}

a {
    color: $black-light;
    text-decoration: none;
    text-overflow: unset;
    white-space: unset;

    &:hover {
        color: $secondary;
    }
}

svg {
    max-width: 20px;
}

table {
    background: $white;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;

    thead {
        background: $primary;
        color: $white;

        th {
            text-align: center;
        }
    }

    td, th {
        border: 1px solid $gray;
        padding: 10px;
    }
}

img {
    max-width: 100%;
}
figure{
    width: fit-content !important;
}

ul {
    padding-left: 0px;
    list-style: none;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;

    > li {
        .sub-menu {
            display: none;
            position: absolute;
            box-shadow: $gray 0px 7px 29px 0px;
            //max-height: 300px;
            //overflow-y: scroll;
            a{
                background-color: $white;
                color: $black-light ;
                width: 250px;
                &:hover{
                    background-color: $gray-light;
                }
            }
        }

        &:hover {
            .sub-menu {
                display: block;
            }
        }

        a {
            padding: 10px;
            display: inline-block;
            color: $white;
        }

        &.active {
            > a {
                width: 250px;
                background: $danger;
            }


        }
    }
}
h4,h5,h6{
    margin-top: 0;
}
.row {
    &:after{
        clear: both;
        content: " ";
        display: table;
    }
}
