*, :after, :before {
    box-sizing: border-box
}

body {
    margin: 0;
    background: #ccc;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.container {
    max-width: 980px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

a {
    color: #222;
    text-decoration: none;
    text-overflow: unset;
    white-space: unset;
    &:hover{
        color: $secondary;
    }
}

svg {
    max-width: 20px;
}

table {
    background: white;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;

    thead {
        background: #f63;
        color: white;

        th {
            text-align: center;
        }
    }

    td, th {
        border: 1px solid #ccc;
        padding: 10px;
    }
}
