$white: #fff;
$color_2: #f80;
$color_3: var(--szp9uz0-1);
$color_4: var(--i8z877t-0);
$color_5: #8c8c8c;
$color_6: #222;
$color_7: inherit;
$background-color_1: #f80;
$background-color_2: #ffb057;
$background-color_3: #e56700;
$background-color_4: currentColor;
$background-color_5: #ffba00;
$border-color_1: #f80;
$border-color_2: #ffb057;
$border-color_3: #e56700;
$border-color_4: currentColor;

.aw__b1358qut {
    cursor: pointer;
    display: inline-flex;
    font-weight: 400;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    color: $white;
    background-color: $background-color_1;
    border-color: $border-color_1;
    &:hover {
        color: $white;
        background-color: $background-color_2;
        border-color: $border-color_2;
    }
    &:active {
        color: $white;
        background-color: $background-color_3;
        border-color: $border-color_3;
    }
}
.aw__b1358qut.i-left {
    >svg {
        margin-right: .5em;
        margin-left: 0;
        font-size: 1rem;
    }
}
.aw__b1358qut.medium.i-left {
    >svg {
        font-size: 1rem;
    }
}
.aw__b1358qut.primary {
    color: $white;
    background-color: $background-color_1;
    border-color: $border-color_1;
    &:hover {
        color: $white;
        background-color: $background-color_2;
        border-color: $border-color_2;
    }
    &:active {
        color: $white;
        background-color: $background-color_3;
        border-color: $border-color_3;
    }
}
.aw__b1358qut.r-normal {
    border-radius: 4px;
}
.aw__b1358qut.w-bold {
    font-weight: 700;
}
.aw__s16g438w {
    >input {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    >span {
        position: absolute;
        top: 0;
        border: 1px solid;
        height: 20px;
        width: 20px;
        background-color: $background-color_4;
        border-color: $border-color_4;
    }
}
.aw__s16g438w.primary {
    >span {
        color: $color_2;
    }
}
.aw__s1c52820 {
    >button {
        height: 40px;
        line-height: 1.25;
    }
}
.main-header {
    line-height: 1.5;
    //height: 56px;
    background-color: $background-color_5;
    position: sticky;
    top: 0;
    font-size: .875rem;
    z-index: 2;
    -webkit-transition-property: height;
    transition-property: height;
    transition-duration: .2s;
    padding: 10px;
}

.aw__i8z877t {
    color: $color_4 !important;
    -webkit-text-decoration: none;
    text-decoration: none;

    display: flex;

    justify-content: center;

    align-items: center;
    position: relative;
    height: 100%;
    &:hover {
        opacity: 70%;
    }
}
.aw__mpdl6d2 {
    position: relative;
    height: 100%;
    font-weight: 400;
}


.aw__s7k33ul {
    border: none;
    //display: -webkit-box;
    //display: -webkit-flex;
    //display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    //margin-left: 0;
    //-webkit-transition-property: width, margin-left;
    //transition-property: width, margin-left;
    //-webkit-transition-duration: .2s;
    //transition-duration: .2s;
}
.search-form-wrapper {
    width: 100%;
    padding: 10px;
}
.btn-search {
    top: 0;
    position: absolute;
    right: 4px;
    height: 100%;

    display: flex;
    -webkit-box-pack: end;
    align-items: center;

}

.search-form {
    display: flex;
    align-items: center;
    margin: 0 auto;
    border-radius: 4px;
    position: relative;
    background: white;

    input {
        height: 36px;
        border-radius: 4px;
        border: none;
        outline: 0;
        text-indent: 12px;
        width: calc(100% - 40px);
    }
    button{
        height: 28px;
    }
}
.aw__d1g2y39b {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.aw__s1wdsl35 {
    width: 100%;
    padding-right: 32px;
}
.aw__h1gb9yk {
    height: 36px;
    width: 144px;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;

    align-items: center;
    &:hover {
        background-color: $background-color_3 !important;
        border-color: $border-color_3 !important;
    }
}
.aw__c19wws31 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aw__dtt35j3 {
    width: 1.125rem;
    height: 100%;
}

.aw__rjogxfr {
    display: none;
}
.aw__la2dsz4 {

    padding-right: var(--la2dsz4-2);
    text-align: center;

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-right: 12px;
}

.aw__r1fkdta0 {

    display: flex;
    gap: 16px;

    justify-content: center;
    align-items: center;
    >span {
        z-index: 101;
    }
}
.aw__nygw70q {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
}
.aw__s575q7c {
    input {
        font-size: 1rem;
    }
    >div {
        margin: 0 auto;

        display: flex;
    }
}

//account
.account-menu {
    position: relative;
    cursor: pointer;
    .menu {
        position: absolute;
        width: 300px;
        top: 50px;
        border: 1px solid rgba(0,0,0,0.15);
        box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
        border-top: none;
        width: 290px;

        left: 0px;
        background: #FFFFFF;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        padding: 4px 0px;
        display: none;
        .show{
            display: block;
        }
    }
}

.aw__ntc1674 {
    position: relative;
    padding: 12px;
    width: 100%;
    height: var(--ntc1674-2);
}
.aw__n1kniwks a {
    font-size: 0.875rem;
}
.aw__d15qd39x {
    height: 38px;
    background-color:  #f5f5f5;
    padding: 10px 0 10px 12px;
    font-weight: bold;
}

.aw__iys36jq {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    line-height: 24px;
    text-decoration: none;
    padding: 8px 12px;
    gap: 10px;

}

.aw__ntc1674 {
    position: relative;
    padding: 12px;
    width: 100%;
    height: var(--ntc1674-2);
    .aw__nrouw61 {
        display: block;
        background-image: url(https://static.chotot.com/storage/marketplace/common/png/default_user.png);
        background-size: 100% 100%;
        border-radius: 100%;
        height: var(--nrouw61-3);
        width: var(--nrouw61-3);
        float: left;
        position: relative;
    }
    .aw__n171wcvy {
        float: left;
        margin-left: 8px;
        margin-top: 14px;
        width: calc(100% - 100px);
        line-height: 20px;
        font-size: 1rem;
        font-weight: 700;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@media (min-width: 768px) {
    .aw__n40viec {
        color: $color_6 !important;
        display: flex;

        align-items: center;

    }
}
.main-header{

    .avatar {
        display: flex;
        justify-items: center;
        margin: 10px;

        img{
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin-right: 5px;
        }
        svg{
            height: 24px;
        }
    }
}

@media (max-width: 991px) {
    .aw__r1fkdta0, .search-form-wrapper, .aw__i8z877t{
        display: none;
    }
}
