html, body {
    height: 100%;
    //margin-bottom: -50px;
}

main {
    min-height: calc(100% - 142px);
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    position: relative;
    margin-right: 10px;
}

.two-column {
    display: flex;

    .sidebar {
        flex: 30%;
    }

    .main {
        flex: 70%;
        margin-right: 10px;
    }
}

.breadcrumb {
    padding: 15px 0;
    margin-bottom: 0;

    li {
        font-size: 12px;
        display: inline;

        //> div {
        //    display: inline;
        //}

        //span {
        //    strong {
        //        color: $secondary;
        //    }
        //}
    }

    a {
        &:after {
            color: $secondary;
            content: "»";
            padding: 0 5px;
        }
    }
}

footer {
    margin-top: 30px;
    padding: 10px;
}
.header {
    background-color: $white;
}
.header__backdrop img {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}
.header__profile {
    display: flex;
    justify-content: space-between !important;
    padding-bottom: 20px;
    border-bottom: 1px solid $gray-light;

    .group__infor {
        display: flex;
        flex: 70%;
        .avatar {
            .border-avatar {
                background: $white;
                width: 140px;
                height: 140px;
                border-radius: 100px;
                position: relative;
                bottom: 30px;
                left: 20px;
                img {
                    border: 3px solid $white;
                    border-radius: 100px;
                }
            }
        }

        .infor {
            margin-left: 25px;

            h1 {
                font-size: 30px;
            }
            .icon-vertify-account {
                color: $info-dark;
            }
            .icon-vertify-account.not-vertify {
                color: $gray;
            }
            .btn{

            }
        }
    }

    .detail-infor {
        flex: 40%;
        position: relative;
        top: 15px;
        .label-chat {
            white-space: nowrap;
            line-height: 30px;
            svg {
                position: relative;
                top: 3px;
            }
        }
        .label-time {
            white-space: nowrap;
            line-height: 33px;
            svg {
                position: relative;
                top: 3px;
            }
        }
        .label-address {
            line-height: 30px;
            background: $black-transparent;
            color: $white;
            padding: 0 10px;
            div:first-child {
                white-space: nowrap;
            }
            svg {
                position: relative;
                top: 3px;
            }
        }
    }
}
@media (max-width: 900px) {
    .header__profile {
        flex-direction: column;
        padding-bottom: 25px;

        .group__infor{
            flex-wrap: wrap;
            max-height: 200px;
            .avatar {
                width: 100%;
                display: flex;
                justify-content: center;
                .border-avatar {
                    left: 0px;
                }
            }
            .infor {
                position: relative;
                bottom: 65px;
                width: 100%;
                margin-left: 0px;
                h1 {
                    text-align: center;
                }
                p {
                    justify-content: center;
                }
            }
        }

        //.edit-profile {
        //    width: 70%;
        //    margin: auto;
        //}

        .detail-infor {
            padding-bottom: 15px;
            .label-address {
                div:last-child {
                    width: 100%;
                }
            }
        }
    }
}

//@media (max-width: 500px) {
//    .header__profile {
//        .edit-profile {
//            width: 100%;
//        }
//    }
//}

@media (max-width: 992px) {
    .two-column {
        .sidebar {
            display: none;
        }
    }
}

.portfolio__tab{
    width: 100%;
    margin-bottom: 12px;
    display: flex;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    .children_menu {
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        padding: 16px 0;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: $black-light;
        display: flex;
        flex: 1;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        transition: color .2s;
        & > :hover, :focus, :active {
            color: $primary;
        }
    }
    .children_menu.activelink {
        border-bottom: 3px solid $primary;
        color: $primary;
    }
}

.active-tab{
    display: block;
    background: white;
    padding: 10px;
}

.hide-tab{
    display: none;
}
