.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85svh;
    padding: 16px
}

.login-form {
    width: 100%
}

.login-form .logo > img {
    width: 121px;
    height: 44px
}

@media (min-width: 768px) {
    .login-form {
        width: 440px;
        border-radius: 8px;
        background-color: #fff;
        padding: 32px 40px;
        box-shadow: 0 0 8px rgba(30, 40, 60, .1);
        min-height: var(--login-form-0)
    }
    .login-form .logo {
        display: flex;
        justify-content: center
    }
}
.title-line {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 16px;

    > hr {
        width: 100%;
        color: #8c8c8c
    }

    > span {
        white-space: nowrap;
        color: #595959;
        margin: 0 12px
    }
}
