.ctad {
    position: relative;
    //margin-top: 8px;
    border-radius: 1px
}

.ctad .ctadBody {
    display: flex;
    background: white;
    margin: 10px;
}

.ctad .ctadBody .ctadImage {
    cursor: pointer;
    width: 102px;
    height: 100px;
    background-size: cover
}

.ctad .ctadBody .ctadInfo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 10px;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%;
    cursor: pointer
}

.ctad .ctadBody .ctadInfo .upperBlock {
    width: 100%;
    min-width: 0
}

.ctad .ctadBody .ctadInfo .upperBlock .ctadWrapper {
    min-width: 0;
    width: 100%;
    height: 100%
}

.ctad .ctadBody .ctadInfo .upperBlock .ctadWrapper .ctadTitle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.ctad .ctadBody .ctadInfo .upperBlock .ctadWrapper .ctadTitle .title {
    color: #000;
    //white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    height: 47px;
}
