.entry-content.single-page h2, {
    overflow: hidden;

    position: relative;
    border-bottom: 3px solid #f53d2d;
    min-height: 36px;
    margin: 18px 0 18px;
    font-size: 22px;
    line-height: 1.6;
}
//
//span.h2_counter {
//    position: absolute;
//    left: 0;
//    top: -2px;
//    bottom: 0;
//    padding: 0 10px;
//    background: #f53d2d;
//    color: #fff;
//    font-size: 20px;
//    line-height: 38px;
//    min-width: 38px;
//    display: inline-block;
//    text-align: center;
//    margin-right: 8px;
//}
