.post-detail {
    .slider {
        background-position: center center;
        background-repeat: no-repeat;
        background-color: rgba(208, 167, 7, 0.44);
        background-size: 50% auto;
        background-image: url("https://sayo.vn/img/logo-white.png");

        position: relative;
        overflow: hidden;
        transition: 0.3s;

        height: 480px;

        .group-slider {
            position: absolute;
            height: 480px;

            .slider-item {
                float: left;
                line-height: 0;
                text-align: center;
                height: 100%;
                display: flex;
                justify-content: center;

                .image-item {
                    cursor: zoom-in;
                    vertical-align: middle;
                    max-height: 100%;
                    max-width: 100%;
                    background-color: $white;
                    display: inline-block !important;
                    outline: 0;
                }
            }
        }

        .navigator {
            position: absolute;
            bottom: 40px;
            width: 100%;
            text-align: center;
        }

        .navigator span {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: $gray;
            margin: 0 4px;
            transition: 0.1s;
            position: relative;
            top: 0;
        }

        .navigator span.active {
            background: $white;
            width: 10px;
            height: 10px;
        }

        .ad-image-caption {
            background: $black-transparent;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: right;
            padding: 7px;

            .ad-image-caption-text {
                display: inline-block;
                vertical-align: middle;
                color: $white;
                margin-right: 4px;
                font-size: 14px
            }
        }

        &__direction {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: $black-transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 0;
            box-shadow: none;
            border: none;

            &:active {
                opacity: .7
            }

            i {
                display: inline-block;
                width: 10px;
                height: 38px;
                background-position: 50% !important;
                background-repeat: no-repeat !important;
                margin-top: -2px;
            }

            &.ad-image-prev {
                padding: 0 13px 0 10px;

                i {
                    background: url(https://sayo.vn/img/icon/white-back.svg)
                }
            }

            &.ad-image-next {
                right: 0;
                border-radius: 5px 0 0 5px;
                padding: 0 10px 0 13px;

                i {
                    background: url(https://sayo.vn/img/icon/white-next.svg)
                }
            }
        }
    }

    &__content {
        padding: 20px 0;
        p {
            margin: 0;
        }
    }

    .ad-price-wrapper {
        background-color: transparent;
        text-overflow: ellipsis;
        padding: 0;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .ad-price-wrapper .ad-save-ad {
        right: auto;
        bottom: auto;
        position: relative
    }

    .ad-price-wrapper .ad-price {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .ad-price-wrapper .ad-price > img {
        margin: 4px 0
    }

    .ad-price-wrapper .ad-adPrice {
        font-size: 16px;
        color: $danger;
        font-weight: 700
    }

    .ad-body {
        padding-top: 10px;
        text-align: justify;
        margin-bottom: 10px;
        white-space: pre-line;
        overflow-wrap: break-word
    }
}


.lead-button-slide-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .lead-button-default {
        background-color: $white;
        border-radius: 25px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        margin: 7px 0;
        min-width: 130px;

        img {
            height: 25px;
            margin: 0 5px
        }
    }
}

.chat-template {
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px 0;
    border-top: 1px solid $gray;

    li {
        border: 1px solid $primary;
        padding: 5px 10px;
        border-radius: 20px;
        margin-right: 10px;
        display: inline-block;
        font-size: 13px;
        color: $black-light;
        background-color: $white;
        cursor: pointer;
    }
}

@media (max-width: 540px) {
    .post-detail {
        .slider {
            height: 300px;

            .group-slider {
                height: 300px;
            }
        }
    }
}
