.post-detail{
    &__content{
        p{
            margin: 0;
        }
    }
}

.post-sidebar {
    padding-left: 10px;
}

.slick-slider, .slick-track {
    position: relative;
    display: block
}

.slick-track {
    top: 0;
    left: 0
}

.slick-track:after, .slick-track:before {
    display: table;
    content: ""
}

.slick-track:after {
    clear: both
}

.slick-slide {
    float: left;
}

.slick-slide {
    img {
        display: block
    }
}

.slick-slide.slick-loading {
    img {
        display: none
    }
}

.slick-initialized {
    .slick-slide {
        display: block
    }
}

.slick-dots, .slick-next, .slick-prev {
    position: absolute;
    display: block;
    padding: 0
}

.slick-dots li button:before {
    font-family: slick, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.slick-dots {
    bottom: 37px;
    width: 100%;
    margin: 0;
    list-style: none;
    text-align: center;

    li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        cursor: pointer;

        button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 5px;
            height: 5px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: 0 0;
            border-radius: 50%;
            background-color: gray;
            opacity: 0.7;
        }
    }

    .slick-active button {
        background-color: #fff;
    }
}

.no-padding {
    padding: 0 !important
}

.img-circle {
    border-radius: 50%
}

//.base {
//    margin: 0 12px
//}
//
//ol, ul {
//    padding-left: 2rem
//}
//
//ol, ul {
//    margin-top: 0;
//    margin-bottom: 1rem
//}
//
//ol ol, ol ul, ul ol, ul ul {
//    margin-bottom: 0
//}
//
//b, strong {
//    font-weight: 700
//}
//
//
//img {
//    vertical-align: middle
//}
//
//label {
//    display: inline-block;
//    margin-bottom: 8px
//}
//
//button {
//    border-radius: 2px
//}
//
//button {
//    margin: 0;
//    font-family: inherit;
//    font-size: inherit;
//    line-height: inherit
//}
//
//button {
//    overflow: visible
//}
//
//button {
//    text-transform: none
//}

$color_1: #33659c;
$color_2: #000;
.post-slider {
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #d0a707;
    background-size: 50% auto;
    background-image: url("https://sayo.vn/img/logo-white.png");
    height: 495px;
    position: relative;

    .item {
        width: 620px;
    }
}

.post-slider, .post-slider .ad-slider-image {
    position: relative;
    overflow: hidden;
    outline: 0
}

.post-slider .ad-slider-image .ad-image-wrapper-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    outline: 0;
}

.post-slider .ad-slider-image .ad-image-wrapper-slider img {
    cursor: zoom-in;
    vertical-align: middle;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    background-color: #eee;
    display: inline-block !important;
    outline: 0
}

.post-slider .ad-slider-image span {
    display: inline-block;
    height: 100%;
    vertical-align: middle
}

.post-slider .ad-image-slider:after {
    padding-top: 75%;
    display: block;
    content: ""
}

.post-slider .ad-image-caption {
    background: #000;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: .8;
    text-align: right;
    padding: 7px
}

.post-slider .ad-image-caption-text {
    display: inline-block;
    vertical-align: middle;
    color: #f5f5f5;
    margin-right: 4px;
    font-size: 14px
}

.post-slider .ad-image-button, .post-slider .ad-image-button.ad-image-next, .post-slider .ad-image-button.ad-image-prev {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    background: $black-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    box-shadow: none;
    border: none
}

.post-slider .ad-image-button:focus {
    outline: 0
}

.post-slider .ad-image-button:active {
    opacity: .7
}

.post-slider .ad-image-button .AdImage_icon__g7L3b, .post-slider .ad-image-button.ad-image-next i, .post-slider .ad-image-button.ad-image-prev i {
    display: inline-block;
    width: 10px;
    height: 38px;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    margin-top: -2px;
    cursor: pointer
}

.post-slider .ad-image-button.ad-image-prev {
    padding: 0 13px 0 10px;
    left: 0;
    border-radius: 0 5px 5px 0
}

.post-slider .ad-image-button.ad-image-prev i {
    background: url(https://sayo.vn/img/icon/white-back.svg)
}

.post-slider .ad-image-button.ad-image-next {
    right: 0;
    border-radius: 5px 0 0 5px;
    padding: 0 10px 0 13px
}

.post-slider .ad-image-button.ad-image-next i {
    background: url(https://sayo.vn/img/icon/white-next.svg)
}

.ad-image-wrapper {
    margin-top: 10px
}

.ad-image-wrapper .post-title {
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px
}

.ad-image-wrapper .ad-price-wrapper {
    background-color: transparent;
    text-overflow: ellipsis;
    padding: 0;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.ad-image-wrapper .ad-price-wrapper .ad-save-ad {
    right: auto;
    bottom: auto;
    position: relative
}

.ad-image-wrapper .ad-price-wrapper .ad-price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between
}

.ad-image-wrapper .ad-price-wrapper .ad-price > img {
    margin: 4px 0
}

.ad-image-wrapper .ad-price-wrapper .ad-adPrice {
    font-size: 16px;
    color: #c90927;
    font-weight: 700
}

.ad-image-wrapper .ad-body {
    padding-top: 10px;
    text-align: justify;
    margin-bottom: 10px;
    white-space: pre-line;
    overflow-wrap: break-word
}

.ad-media-param {
    display: flex;
    align-items: start
}


.ad-param-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 20px;
    height: 20px
}

.ad-param-value {
    white-space: pre-line
}

.ad-param-value > a {
    color: #2275d3;
    cursor: pointer;
    outline: 0;
    font-size: 14px;
    position: relative
}

.btn--oval {
    border: 1px solid #c90927;
    border-radius: 20px;
    padding: 5px 10px;
    color: #c90927;
}

.lead-button-slide-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1
}

.lead-button-slide-wrapper .lead-button-default, .lead-button-slide-wrapper .lead-button-slide-insert-ad {
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #33a637;
    margin: 7px 0;
    min-width: 130px;
    justify-content: center;
    z-index: 9999
}

.lead-button-slide-wrapper .lead-button-default img, .lead-button-slide-wrapper .lead-button-slide-insert-ad img {
    height: 25px;
    margin: 0 5px
}

.lead-button-slide-wrapper .lead-button-slide-default-phone {
    cursor: pointer
}

.lead-button-slide-wrapper .lead-button-slide-default-phone:hover {
    color: #33a637
}

.lead-button-slide-wrapper .lead-button-slide-insert-ad {
    background-color: #fe9900;
    color: #fff;
    z-index: 999999;
    white-space: pre;
    min-height: 45px;
    padding: 10px
}

.seller-profile {
    margin-bottom: 10px;
    padding: 10px;
    background: white;
}

.seller-profile .SellerProfile_secondaryButton__qJNPr {
    cursor: pointer;
    text-align: center;
    transition: background-color .2s ease-in-out;
    font-size: 10px;
    width: -moz-max-content;
    width: max-content;
    border-radius: 20px;
    padding: 7px 10px;
    //height: -moz-fit-content;
    height: fit-content
}

.seller-profile .SellerProfile_secondaryButton__qJNPr:active, .seller-profile .SellerProfile_secondaryButton__qJNPr:focus {
    outline: 0;
    box-shadow: none
}

.seller-profile .SellerProfile_secondaryButton__qJNPr {
    background-color: #fff;
    color: #fe9900;
    border: 1px solid #fe9900
}

.seller-profile .SellerProfile_secondaryButton__qJNPr:hover {
    background-color: #e2e6ea
}

.seller-profile .SellerProfile_inforItem__B3Pzq {
    flex: 1 1
}

.seller-profile .SellerProfile_inforItem__B3Pzq:focus p, .seller-profile .SellerProfile_inforItem__B3Pzq:focus span, .seller-profile .SellerProfile_inforItem__B3Pzq:hover p, .seller-profile .SellerProfile_inforItem__B3Pzq:hover span {
    outline: 0;
    text-decoration: none
}

.seller-profile .SellerProfile_inforItem__B3Pzq > p {
    font-size: 12px;
    color: #9b9b9b;
    margin-bottom: 5px
}

.seller-profile .SellerProfile_inforItem__B3Pzq > span {
    color: #222;
    font-weight: 600
}

.seller-profile .SellerProfile_inforItem__B3Pzq img {
    margin-right: 0 !important
}

.seller-profile .SellerProfile_inforItem__B3Pzq .SellerProfile_inforValue__hK4rb {
    color: #222;
    font-weight: 600
}

.seller-profile .SellerProfile_inforWrapper__KXg71 {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    font-size: 12px;
    color: #9b9b9b
}

.seller-profile .SellerProfile_inforWrapper__KXg71 > a {
    flex: 1 1;
    color: #9b9b9b
}

.seller-profile .SellerProfile_inforWrapper__KXg71 > a :hover {
    color: transparent;
    text-decoration: none;
    text-decoration: initial
}

.seller-profile .SellerProfile_nameBounder__btDeS {
    flex: 1 1;
    padding-left: 8px;
    width: 100%;
    max-width: calc(100% - 50px)
}

.seller-profile .SellerProfile_flexDiv__IEgQl {
    display: flex
}

.seller-profile .SellerProfile_nameDiv__sjPxP {
    margin: 5px 5px 3px 0;
    font-size: 13px;
    flex: 1 1;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.seller-profile .SellerProfile_statusOnlineDiv__iiwUQ {
    font-size: 11px;
    color: #9b9b9b;
    display: flex
}

.seller-profile .SellerProfile_statusOnlineDiv__iiwUQ .SellerProfile_offlineBullet__by5mZ {
    font-size: 30px;
    color: #589f39;
    line-height: 21px;
    margin-right: 5px
}

.seller-profile .SellerProfile_statusOnlineDiv__iiwUQ .SellerProfile_offlineBullet__by5mZ {
    color: #9b9b9b
}

.seller-profile .SellerProfile_seperateLine__H_bJa {
    border-left: 1px solid #cacaca;
    height: 20px;
    width: 1px
}

.SellerProfile_inforText__D7tPA {
    text-decoration: none
}

.SellerProfile_sellerWrapper__GlDwe {
    display: flex;
    color: #333
}

.SellerProfile_sellerWrapper__GlDwe:focus, .SellerProfile_sellerWrapper__GlDwe:hover {
    color: #333;
    outline: 0;
    text-decoration: none
}

.SellerProfile_offlineBullet__by5mZ, .seller-profile .SellerProfile_statusOnlineDiv__iiwUQ .SellerProfile_offlineBullet__by5mZ {
    font-size: 30px;
    color: #589f39;
    line-height: 16px;
    width: 13px;
    text-align: center;
    display: inline-block
}

.SellerProfile_offlineBullet__by5mZ {
    color: #9b9b9b;
    text-align: center
}

.LeadButton_wrapperLeadButtonDesktop__SVKE8 .LeadButton_buttonChatDesktop__gbYM9 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 16px;
    color: #589f39;
    background-color: #fff;
    font-weight: 700;
    text-align: center
}

.LeadButton_wrapperLeadButtonDesktop__SVKE8 .LeadButton_buttonChatDesktop__gbYM9:hover {
    background-color: #e6e6e6
}

.LeadButton_wrapperLeadButtonDesktop__SVKE8 .LeadButton_buttonChatDesktop__gbYM9 > img {
    display: inline-block;
    height: 24px;
    vertical-align: middle;
    margin-right: 10px
}

.LeadButton_wrapperLeadButtonDesktop__SVKE8 .LeadButton_showPhoneButton__1BIwH {
    margin-bottom: 8px
}

.LeadButton_wrapperLeadButtonDesktop__SVKE8 .LeadButton_showPhoneButton__1BIwH span {
    font-weight: 700;
    font-size: 14px
}

.LeadButton_wrapperLeadButtonDesktop__SVKE8 .LeadButton_chatDesktopButton__HSQyg {
    margin-bottom: 8px
}

.LeadButton_wrapperLeadButtonDesktop__SVKE8 .LeadButton_chatDesktopButton__HSQyg span {
    font-weight: 700;
    font-size: 14px
}

.SafeTips_SafeTipsWrapper___i5Fm {
    background-color: #fff;
    min-height: 108px;
    padding: 3px;
    margin-bottom: 10px
}

.SafeTips_SafeTipsWrapper___i5Fm img {
    margin-right: 15px
}

.SafeTips_SafeTipsWrapper___i5Fm a {
    font-size: 13px;
    color: #fe9900;
    margin-top: 5px;
    text-align: left
}

.SafeTips_TipText__mMXwX {
    font-size: 13px;
    text-align: left;
    font-style: italic;
    padding-top: 20px
}

.Avatar_imageWrapper__6tGNZ {
    display: inline-block;
    border: 2px solid #e5e5e5;
    padding: 0;
    vertical-align: middle;
    background: url(https://static.chotot.com/storage/default_images/default-avatar.webp) no-repeat;
    background-size: contain;
    background-color: #fff
}

.Avatar_defaultSize__a_WTh {
    height: 50px;
    width: 50px;
    -o-object-fit: cover;
    object-fit: cover
}

.ShowPhoneButton_wrapper__B627I {
    width: 100%
}

.ShowPhoneButton_phoneButton__p5Cvt {
    display: block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 10px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-size: 13px;
    transition: background-color .2s ease-in-out;
    height: 42px
}

.ShowPhoneButton_phoneNotClicked__dlQn_ {
    color: #fff;
    background-color: #33a837
}

.ShowPhoneButton_phoneNotClicked__dlQn_:hover {
    background-color: #3b8122
}

.ShowPhoneButton_flexDiv__3qpNj {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.ShowPhoneButton_icon__wsnZ5 {
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
    margin-right: 10px
}


//chat
.chat-titleChatTemp {
    padding: 5px 5px 5px 0;
    margin: 0 !important;
    border-bottom: 1px solid #cacaca;
    color: #777;
    font-size: 14px;
    font-weight: 700;
}

.ChatTemplate_sent__bouS1, .chat-templateItem {
    border: 1px solid #fe9900;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 10px;
    display: inline-block;
    font-size: 13px;
    color: #222;
    background-color: #fff;
    cursor: pointer;
}

.chat_templateMessage {
    margin: 0 10px;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
}

@media (max-width: 540px) {
    .post-slider {
        height: 330px;
        .item {
            //width: 545px;
            width: 100vw;
        }
    }
}
