.SellerProfile_profileWrapper__ubLwW {
    margin-bottom: 10px;
    padding: 10px 0;
    border-top: 1px solid #e5e5e5
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_baseBtn__m6h0f, .SellerProfile_profileWrapper__ubLwW .SellerProfile_grayButtonVeh__hGuj2, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButtonPty__jtSZR, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButtonVeh__5s5kG, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButton__d0Zww, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButtonPty__DN1Sa, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButtonVeh__MfAIw, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButton__qJNPr {
    cursor: pointer;
    text-align: center;
    transition: background-color .2s ease-in-out;
    font-size: 10px;
    width: -moz-max-content;
    width: max-content;
    border-radius: 20px;
    padding: 7px 10px;
    height: -moz-fit-content;
    height: fit-content
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_baseBtn__m6h0f:active, .SellerProfile_profileWrapper__ubLwW .SellerProfile_baseBtn__m6h0f:focus, .SellerProfile_profileWrapper__ubLwW .SellerProfile_grayButtonVeh__hGuj2:active, .SellerProfile_profileWrapper__ubLwW .SellerProfile_grayButtonVeh__hGuj2:focus, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButtonPty__jtSZR:active, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButtonPty__jtSZR:focus, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButtonVeh__5s5kG:active, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButtonVeh__5s5kG:focus, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButton__d0Zww:active, .SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButton__d0Zww:focus, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButtonPty__DN1Sa:active, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButtonPty__DN1Sa:focus, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButtonVeh__MfAIw:active, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButtonVeh__MfAIw:focus, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButton__qJNPr:active, .SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButton__qJNPr:focus {
    outline: 0;
    box-shadow: none
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButton__d0Zww {
    background-color: #fe9900;
    color: #fff;
    border: none
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_primaryButton__d0Zww:hover {
    background-color: #feb700
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButton__qJNPr {
    background-color: #fff;
    color: #fe9900;
    border: 1px solid #fe9900
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_secondaryButton__qJNPr:hover {
    background-color: #e2e6ea
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq {
    flex: 1 1
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq:focus p, .SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq:focus span, .SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq:hover p, .SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq:hover span {
    outline: none;
    text-decoration: none
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq > p {
    font-size: 12px;
    color: #9b9b9b;
    margin-bottom: 5px
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq > span {
    color: #222;
    font-weight: 600
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq img {
    margin-right: 0 !important
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforItem__B3Pzq .SellerProfile_inforValue__hK4rb {
    color: #222;
    font-weight: 600
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforWrapper__KXg71 {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    font-size: 12px;
    color: #9b9b9b
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforWrapper__KXg71 > a {
    flex: 1 1;
    color: #9b9b9b
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_inforWrapper__KXg71 > a :hover {
    color: none;
    text-decoration: none;
    text-decoration: initial
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_nameBounder__btDeS {
    flex: 1 1;
    padding-left: 8px;
    width: 100%;
    max-width: calc(100% - 50px)
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_flexDiv__IEgQl {
    display: flex
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_nameDiv__sjPxP {
    margin: 5px 5px 3px 0;
    font-size: 13px;
    flex: 1 1;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_statusOnlineDiv__iiwUQ {
    font-size: 11px;
    color: #9b9b9b;
    display: flex
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_statusOnlineDiv__iiwUQ .SellerProfile_offlineBullet__by5mZ, .SellerProfile_profileWrapper__ubLwW .SellerProfile_statusOnlineDiv__iiwUQ .SellerProfile_onlineBullet__i5v8A {
    font-size: 30px;
    color: #589f39;
    line-height: 21px;
    margin-right: 5px
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_statusOnlineDiv__iiwUQ .SellerProfile_offlineBullet__by5mZ {
    color: #9b9b9b
}

.SellerProfile_profileWrapper__ubLwW .SellerProfile_seperateLine__H_bJa {
    border-left: 1px solid #cacaca;
    height: 20px;
    width: 1px
}

.SellerProfile_rateText__fi3wS {
    text-decoration: underline;
    margin-bottom: 5px
}

.SellerProfile_rateText__fi3wS:focus, .SellerProfile_rateText__fi3wS:hover {
    text-decoration: underline !important
}

.SellerProfile_inforText__D7tPA {
    text-decoration: none
}

.SellerProfile_sellerWrapper__GlDwe {
    display: flex;
    color: #333
}

.SellerProfile_sellerWrapper__GlDwe:focus, .SellerProfile_sellerWrapper__GlDwe:hover {
    color: #333;
    outline: none;
    text-decoration: none
}

@media(min-width: 992px) {
    .SellerProfile_sellerWrapper__GlDwe {
        padding: 0
    }
}

.SellerProfile_shopVerifyWrapper__NPhud {
    padding: 0 0 0 60px
}

.SellerProfile_shopVerifyWrapper__NPhud span {
    font-size: 12px;
    color: #9b9b9b
}

.SellerProfile_shopVerifyWrapper__NPhud img {
    margin-left: -6px;
    height: 26px
}

.SellerProfile_profileWrapperWithEntitlement__BPNbB {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 4px
}

.SellerProfile_primaryButtonPty__jtSZR, .SellerProfile_primaryButtonVeh__5s5kG {
    background-color: #fff;
    color: #fe9900;
    border: 1px solid #fe9900;
    min-width: 96px !important;
    height: 24px !important;
    font-size: 12px !important;
    line-height: 12px;
    display: flex !important;
    justify-content: center;
    align-items: center
}

.SellerProfile_primaryButtonPty__jtSZR:hover, .SellerProfile_primaryButtonVeh__5s5kG:hover {
    background-color: #e2e6ea
}

.SellerProfile_primaryButtonPty__jtSZR img, .SellerProfile_primaryButtonVeh__5s5kG img {
    height: 12px;
    width: 12px;
    margin-left: 4px
}

.SellerProfile_primaryButtonPty__jtSZR {
    color: #ff6d25;
    border: 1px solid #ff6d25
}

.SellerProfile_secondaryButtonPty__DN1Sa, .SellerProfile_secondaryButtonVeh__MfAIw {
    background-color: #fff;
    color: #fe9900;
    border: 1px solid #fe9900;
    min-width: 96px !important;
    height: 24px !important;
    font-size: 12px !important;
    line-height: 12px;
    display: flex !important;
    justify-content: center;
    align-items: center
}

.SellerProfile_secondaryButtonPty__DN1Sa:hover, .SellerProfile_secondaryButtonVeh__MfAIw:hover {
    background-color: #e2e6ea
}

.SellerProfile_secondaryButtonPty__DN1Sa img, .SellerProfile_secondaryButtonVeh__MfAIw img {
    height: 12px;
    width: 12px;
    margin-left: 4px
}

.SellerProfile_secondaryButtonPty__DN1Sa {
    color: #ff6d25;
    border: 1px solid #ff6d25
}

.SellerProfile_grayButtonVeh__hGuj2 {
    background-color: #fff;
    color: #222;
    border: 1px solid silver;
    width: 49% !important;
    height: 32px !important;
    font-size: 12px !important;
    line-height: 12px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border-radius: 4px !important;
    font-weight: 700
}

.SellerProfile_grayButtonVeh__hGuj2 .SellerProfile_btnIcon__gKl7C {
    font-size: 16px;
    margin-right: 4px;
    font-weight: 400
}

.SellerProfile_vehShopBtnWrapper__mFbmA {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6px
}

.SellerProfile_sellerWrapperVeh__UFHlO {
    display: flex;
    color: #333
}

.SellerProfile_sellerWrapperVeh__UFHlO:focus, .SellerProfile_sellerWrapperVeh__UFHlO:hover {
    color: #333;
    outline: none;
    text-decoration: none
}

@media(min-width: 992px) {
    .SellerProfile_sellerWrapperVeh__UFHlO {
        padding: 0
    }
}

.SellerProfile_nameDivVeh__vE94K {
    margin: 5px 5px 3px 0;
    -webkit-line-clamp: 2
}

.SellerProfile_nameDivShopVeh__jW7eC, .SellerProfile_nameDivVeh__vE94K {
    font-size: 13px;
    flex: 1 1;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    align-self: flex-end;
    overflow-wrap: break-word
}

.SellerProfile_nameDivShopVeh__jW7eC {
    margin: 0 5px 3px 0;
    -webkit-line-clamp: 1;
    color: #222
}

.SellerProfile_statusOnlineDivVeh__kgmx4 {
    font-size: 12px;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    line-height: 20px
}

.SellerProfile_statusOnlineDivVehShop__Qs9F4 {
    margin-bottom: 3px;
    font-size: 12px;
    display: flex;
    align-items: center
}

.SellerProfile_offlineBullet__by5mZ, .SellerProfile_onlineBullet__i5v8A, .SellerProfile_profileWrapper__ubLwW .SellerProfile_statusOnlineDiv__iiwUQ .SellerProfile_offlineBullet__by5mZ {
    font-size: 30px;
    color: #589f39;
    line-height: 16px;
    width: 13px;
    text-align: center;
    display: inline-block
}

.SellerProfile_offlineBullet__by5mZ {
    color: #9b9b9b;
    text-align: center
}

.SellerProfile_ratingStar__v_JCT {
    color: #222
}

.SellerProfile_profileWrapperVeh__BVDOo {
    border: none;
    padding: 0
}

.SellerProfile_profileWrapperVehShop__ZaghG {
    border-radius: 8px;
    border-top: 0
}

@media screen and (min-width: 768px) {
    .SellerProfile_profileWrapperVehShop__ZaghG, .SellerProfile_profileWrapperVeh__BVDOo {
        padding: 12px;
        background-color: #fff
    }
}

.SellerProfile_shopIconWrapper__mXmWK {
    position: relative
}

.SellerProfile_shopIconWrapperShop__anKKV {
    padding-right: 5px
}

.SellerProfile_shopIconWrapperVerify__nbmPa {
    position: relative;
    padding-right: 4px
}

.SellerProfile_verificationIcon__9RGGX {
    position: absolute;
    right: -4px;
    top: 8px
}

.SellerProfile_onlyChatDesciption__A6SpV {
    font-style: italic;
    line-height: 20px;
    color: #595959;
    text-align: center;
    padding: 12px
}

.SellerProfile_loginPopup__8ESC8 h5 {
    font-size: 18px;
    line-height: 26px;
    padding-top: 10px
}
