$primary: #f80;
$primary-dark: #e56700;
$secondary: #d0021b;
$danger: #ec102a;
$error: #d0021b;
$success: #04c02d;
$warning: #fbd411;
$info: #09b9d7;
$info-dark: #0866ff;

$white: #ffffff;
$white-gray: #e4e6ea;
$color-disabled: #8c8c8c;
$black-light: #222;
$black: #000000;
$black-transparent:#00000080;
$gray: #9f9d9d;
$gray-dark: #4c4c4c;
$gray-light: #cfcece;

$border: 4px;
