@import "header";
@import "card";

body {
    margin: 0;
    background: #ccc;
    color: #222;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

a {
    color: #222;
    text-decoration: none;
    text-overflow: unset;
    white-space: unset;
}

.d-flex {
    display: flex;
}

.d-flex-wrap {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

.white-box {
    background: white;
}

.p-10 {
    padding: 10px;
}

.m-0 {
    margin: 0;
}

.gap-10 {
    gap: 15px;
}

.grid-2 > div {
    width: 15%;
}

.grid-3 > div {
    width: 24%;
}

.grid-5 > div {
    flex: 0 0 calc(20% - 20px);
    padding: 10px;
}
.grid-6 > div {
    flex: 0 0 calc(16.667% - 20px);
    padding: 10px;
}

.m-r-20 {
    margin-right: 20px;
}

.text-small {
    font-size: 10px;
    line-height: 16px;
}

.text-gray {
    color: #9b9b9b;
}

.view-more {
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    display: block;
    width: 120px;
    color: rgb(56, 105, 159);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    margin: 0px auto;
}

