.aw__aevyxv0 img {
    width: 96px;
    object-fit: cover;
}

.aw__ajtwvo3 span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
}

.aw__ajtwvo3 p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #777777;
}

.aw__l1a9myol a {
    font-size: 12px;
}

@media (max-width: 319px) {
    .aw__l1a9myol a {
        font-size: 10px;
    }
}

.aw__f12q7rxp h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



.aw__a5y9ry8 a {
    color: #1956B8;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

.aw__d16wu053 h2 {
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.aw__e1ortubr > *:last-child {
    margin-bottom: 0;
}


.aw__c1x2a5op > *:last-child {
    margin-bottom: 0;
}

.aw__snepzfi > * {
    text-align: left;
}

.aw__snepzfi > h6 {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 20px;
    margin: 0 16px 4px 0;
}

@media screen and (min-width: 768px) {
    .aw__snepzfi > h6 {
        margin-right: 0;
    }
}


.aw__b1358qut {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: normal;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.aw__b1358qut.i-left > svg {
    margin-right: 0.5em;
    margin-left: 0;
}

.aw__b1358qut.i-right > svg {
    margin-right: 0;
    margin-left: 0.5em;
}

.aw__b1358qut.small.i-right > svg, .aw__b1358qut.small.i-left > svg {
    font-size: 0.75rem;
}

/*.aw__b1358qut, .aw__b1358qut.medium {*/
/*    font-size: 0.875rem;*/
/*    line-height: 1;*/
/*    padding: 8px 16px;*/
/*}*/

.aw__b1358qut.i-right > svg, .aw__b1358qut.medium.i-right > svg, .aw__b1358qut.i-left > svg, .aw__b1358qut.medium.i-left > svg {
    font-size: 1rem;
}

.aw__b1358qut.large.i-right > svg, .aw__b1358qut.large.i-left > svg {
    font-size: 1.25rem;
}

.aw__b1358qut, .aw__b1358qut.primary {
    color: #FFFFFF;
    background-color: #FF8800;
    border-color: #FF8800;
}

.aw__b1358qut:hover, .aw__b1358qut.primary:hover {
    color: #FFFFFF;
    background-color: #FFB057;
    border-color: #FFB057;
}

.aw__b1358qut:active, .aw__b1358qut.primary:active {
    color: #FFFFFF;
    background-color: #E56700;
    border-color: #E56700;
}

.aw__b1358qut.r-normal {
    border-radius: 4px;
}

.aw__b1358qut.w-bold {
    font-weight: bold;
}

.aw__s1qfdm5p > input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.aw__s1qfdm5p > span {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    height: 20px;
    width: 20px;
    background-color: currentColor;
    border-color: currentColor;
}

.aw__s1qfdm5p.neutral > span {
    color: #C0C0C0;
}

.aw__s1qfdm5p.primary > span {
    color: #FF8800;
}

.aw__s1qfdm5p.secondary > span {
    color: #12A154;
}

.aw__s1qfdm5p.accent > span {
    color: #FF8800;
}

.aw__s1qfdm5p.critical > span {
    color: #E5193B;
}

.aw__s1qfdm5p.caution > span {
    color: #FFBA00;
}

.aw__s1qfdm5p.positive > span {
    color: #12A154;
}

.aw__s1qfdm5p.info > span {
    color: #4E8BEF;
}

.aw__s1qfdm5p.disabled > span {
    cursor: auto;
    color: #F4F4F4;
}

.aw__cqfuzod:hover svg circle {
    fill: #B01730;
}



.aw__p14l3zqv > h5 {
    position: absolute;
    width: 100%;
    top: 8px;
    left: 0;
    text-align: center;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #222222;
    font-weight: bold;
}

.aw__p14l3zqv > button {
    min-width: 40px;
    height: 100%;
    line-height: 1.5;
    background-color: transparent;
    padding: 0 12px;
    outline: none;
    white-space: nowrap;
    z-index: 1;
    font-size: 20px;
    display: grid;
    place-items: center;
}


.aw__ccuy8t4.no-button + button {
    display: none;
}




.aw__s19ogwna > h5 {
    margin: 24px 0 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #222222;
    font-weight: bold;
}

.aw__s19ogwna > .main-icon > svg {
    font-size: 80px;
    height: 80px;
}


.aw__cao7516.no-button + button {
    display: none;
}

.aw__s16g438w.withLabel > span {
    right: 0;
}

.aw__s16g438w > input {
    visibility: hidden;
    width: 0;
    height: 0;
}

.aw__s16g438w > span {
    position: absolute;
    top: 0;
    border: 1px solid;
    height: 20px;
    width: 20px;
    background-color: currentColor;
    border-color: currentColor;
}

.aw__s16g438w.neutral > span {
    color: #C0C0C0;
}

.aw__s16g438w.primary > span {
    color: #FF8800;
}

.aw__s16g438w.secondary > span {
    color: #12A154;
}

.aw__s16g438w.accent > span {
    color: #FF8800;
}

.aw__s16g438w.critical > span {
    color: #E5193B;
}

.aw__s16g438w.caution > span {
    color: #FFBA00;
}

.aw__s16g438w.positive > span {
    color: #12A154;
}

.aw__s16g438w.info > span {
    color: #4E8BEF;
}

.aw__s16g438w.disabled > span {
    cursor: auto;
    color: #F4F4F4;
}

.aw__sqadnl7 label {
    margin-bottom: 0px;
}

.aw__ihfma7b.required + label::after {
    content: '*';
    margin-left: 4px;
    color: #E5193B;
}

.aw__ihfma7b.hasValue + label, .aw__ihfma7b:-webkit-autofill + label {
    -webkit-transform: scale(0.7143) translateY(-10px);
    -ms-transform: scale(0.7143) translateY(-10px);
    transform: scale(0.7143) translateY(-10px);
    font-weight: 700;
}

.aw__i1fmidv:focus + label {
    -webkit-transform: scale(0.7143) translateY(-10px);
    -ms-transform: scale(0.7143) translateY(-10px);
    transform: scale(0.7143) translateY(-10px);
    font-weight: 700;
}

.aw__i123csor.error + p {
    color: #E5193B;
}

.aw__i123csor > label {
    position: absolute;
    top: 13px;
    left: 12px;
    cursor: text;
    pointer-events: none;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 0.1s ease;
    -webkit-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    color: #8C8C8C;
    font-size: 0.875rem;
}

.aw__i123csor > button {
    background: transparent;
    outline: none;
    border: none;
    height: 48px;
    min-width: 16px;
    position: absolute;
    top: 0;
    right: 4px;
    color: #2A70DF;
    padding: 8px;
}

.aw__i123csor svg {
    font-size: 0.75rem;
}

.aw__i123csor > svg {
    height: 48px;
    position: absolute;
    top: -1px;
    right: 12px;
    color: #8C8C8C;
    pointer-events: none;
}

.aw__tbz14mg > p {
    visibility: hidden;
    width: 236px;
    background-color: #222222;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 28px;
    opacity: 0;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
    z-index: 1800;
    font-size: 0.875rem;
    text-align: left;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.aw__tbz14mg > p::after {
    content: '';
    position: absolute;
    bottom: calc(100% - 1px);
    border: 8px solid transparent;
    border-bottom-color: #222222;
}

.aw__tbz14mg:hover > p {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.aw__tbz14mg.tooltip-left > p {
    -webkit-transform-origin: 205px 0;
    -ms-transform-origin: 205px 0;
    transform-origin: 205px 0;
    left: -205px;
}

.aw__tbz14mg.tooltip-left > p::after {
    left: 203px;
}

.aw__tbz14mg.tooltip-right > p {
    -webkit-transform-origin: 14px 0;
    -ms-transform-origin: 14px 0;
    transform-origin: 14px 0;
    left: -14px;
}

.aw__tbz14mg.tooltip-right > p::after {
    left: 12px;
}



.aw__s9z0mm0 > h5 {
    margin: 16px 0 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #222222;
    font-weight: bold;
}

.aw__s9z0mm0 > .main-icon > svg {
    font-size: 80px;
    height: 80px;
}

.aw__s1c52820 > button {
    height: 40px;
    line-height: 1.25;
}

.aw__caiukm8 svg {
    color: #222222;
    width: 24px;
    height: 24px;
}



.aw__onn2d5 svg {
    width: 24px;
    height: 24px;
}


.aw__hsvf4xu h5 {
    margin: 0;
    padding: 0;
}

.aw__s1l9q27x > h5 {
    margin: 16px 0 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: #222222;
    font-weight: bold;
}

.aw__s1l9q27x > .main-icon > svg {
    font-size: 80px;
    height: 80px;
}

.aw__s1fdl7um.sm img {
    height: 88px;
    width: 88px;
    margin-top: 32px;
    border-radius: 4px;
}

.aw__s1fdl7um.md img {
    height: 108px;
    width: 100%;
    margin-top: 0px;
    border-radius: 8px 8px 0 0;
}

.aw__s1fdl7um.lg img {
    height: 200px;
    width: 100%;
    margin-top: 0px;
    border-radius: 8px 8px 0 0;
}



.aw__cfc8o3g.no-button + button {
    display: none;
}



.aw__c1aj5r7o svg {
    width: 12px;
    height: 12px;
    color: #FFFFFF;
}

.aw__s1kjmjt5 .chip-wrapper > * {
    margin-right: 8px;
    margin-bottom: 8px;
}

.aw__t1ruwnyj > label {
    position: absolute;
    top: 11px;
    left: 13px;
    cursor: text;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 0.1s ease;
    -webkit-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    color: #8C8C8C;
    font-size: 0.875rem;
}

.aw__t1ruwnyj.error + p {
    color: #E5193B;
}

.aw__sowzan2.required + label::after {
    content: '*';
    margin-left: 4px;
    color: #E5193B;
}

.aw__sowzan2:focus + label, .aw__sowzan2.hasValue + label, .aw__sowzan2:-webkit-autofill + label {
    -webkit-transform: scale(0.7143) translateY(-3px);
    -ms-transform: scale(0.7143) translateY(-3px);
    transform: scale(0.7143) translateY(-3px);
    font-weight: 700;
}


.aw__c10qu4al svg {
    width: 16px;
    height: 16px;
}

.aw__i18chubb.required + label::after {
    content: '*';
    margin-left: 4px;
    color: #E5193B;
}

.aw__i18chubb.hasValue + label, .aw__i18chubb:-webkit-autofill + label {
    -webkit-transform: scale(0.7143) translateY(-10px);
    -ms-transform: scale(0.7143) translateY(-10px);
    transform: scale(0.7143) translateY(-10px);
    font-weight: 700;
}

.aw__i1shq748:focus + label {
    -webkit-transform: scale(0.7143) translateY(-10px);
    -ms-transform: scale(0.7143) translateY(-10px);
    transform: scale(0.7143) translateY(-10px);
    font-weight: 700;
}

.aw__i17i5ei2.error + p {
    color: #E5193B;
}

.aw__i17i5ei2 > label {
    position: absolute;
    top: 13px;
    left: 12px;
    cursor: text;
    pointer-events: none;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: -webkit-transform 0.1s ease;
    -webkit-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    color: #8C8C8C;
    font-size: 0.875rem;
}

.aw__i17i5ei2 > button {
    background: transparent;
    outline: none;
    border: none;
    height: 48px;
    min-width: 16px;
    position: absolute;
    top: 0;
    right: 4px;
    color: #2A70DF;
    padding: 8px;
}

.aw__i17i5ei2 svg {
    font-size: 0.75rem;
}

.aw__i17i5ei2 > svg {
    height: 48px;
    position: absolute;
    top: -1px;
    right: 12px;
    color: #8C8C8C;
    pointer-events: none;
}



.aw__o1kbwzcb > mark {
    color: #222222;
    background-color: transparent;
    padding: 0;
}

.aw__o1kbwzcb > span {
    color: #FF8800;
}

.aw__st6z4je > div button {
    padding-right: 32px;
}

.aw__st6z4je > div button > svg {
    margin-right: 16px;
    height: 100%;
}


.aw__o12vjryz > mark {
    color: #222222;
    background-color: transparent;
    padding: 0;
}

.aw__o12vjryz > span {
    color: #FF8800;
}

.aw__m1hlqvmt.error + p {
    color: #E5193B;
}

.aw__m1hlqvmt.required p::after {
    content: '*';
    margin-left: 4px;
    color: #E5193B;
}

.aw__s1u6utx4 svg {
    font-size: 0.75rem;
}

.aw__crez7d8:hover svg circle {
    fill: #B01730;
}

.aw__d142znzy * {
    pointer-events: none;
    background-color: #F4F4F4;
}

.aw__t1pmjtvk.disabled span:before {
    background-color: #F4F4F4;
    cursor: default;
}

.aw__t1pmjtvk.disabled span:after {
    background-color: #F4F4F4;
    cursor: default;
}

.aw__w1f611rx button {
    z-index: 1;
}

.aw__w1f611rx > :not(:first-child) {
    margin-left: -1px;
}

.aw__w1f611rx > :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.aw__w1f611rx > :first-child > :first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.aw__w1f611rx > :first-child input, .aw__w1f611rx > :first-child select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.aw__w1f611rx > :first-child input:focus, .aw__w1f611rx > :first-child select:focus {
    border-right: 1px solid #FF8800;
}

.aw__w1f611rx > :last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.aw__w1f611rx > :last-child > :first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.aw__w1f611rx > :last-child input, .aw__w1f611rx > :last-child select {
    border-color: initial;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.aw__w1f611rx > :not(:last-child):not(:first-child) {
    border-radius: 0;
    box-sizing: border-box;
}

.aw__w1f611rx > :not(:last-child):not(:first-child) > :first-child {
    border-radius: 0;
}

.aw__w1f611rx > :not(:last-child):not(:first-child) input, .aw__w1f611rx > :not(:last-child):not(:first-child) select {
    border-radius: 0;
}

.aw__w1f611rx > :not(:last-child):not(:first-child) input:focus, .aw__w1f611rx > :not(:last-child):not(:first-child) select:focus {
    border: none;
}

.aw__w1f611rx > * p {
    display: none;
}

.aw__w1f611rx.error input:focus, .aw__w1f611rx.error select:focus, .aw__w1f611rx.error button:focus {
    outline: 0;
}

.aw__w1f611rx.error input:focus-within, .aw__w1f611rx.error select:focus-within, .aw__w1f611rx.error button:focus-within {
    outline: 0;
}

.aw__w1f611rx.error + p {
    color: #E5193B;
}

@media screen and (min-width: 768px) {
}

.aw__s1bb6fs2 img {
    max-width: 300px;
    max-height: 150px;
}

@media screen and (min-width: 768px) {
    .aw__s1bb6fs2 img {
        max-width: 400px;
        max-height: 200px;
    }
}

.aw__s12h9vp6 span {
    line-height: 14px;
    font-size: 0.625rem;
    position: absolute;
    bottom: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    white-space: nowrap;
}

.aw__rvck8zt input {
    position: absolute;
    width: 100%;
    height: 4px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.aw__rvck8zt input:focus {
    outline: none;
}

.aw__rvck8zt input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #FFFFFF;
    pointer-events: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
}

.aw__rvck8zt input[type='range']::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 100%;
    background: #FFFFFF;
    pointer-events: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
}

.aw__rvck8zt input[type='range']:focus::-webkit-slider-thumb {
    border: 1px solid #FF8800;
}

.aw__rvck8zt input[type='range']:focus::-moz-range-thumb {
    border: 1px solid #FF8800;
}

.aw__d1opo5tc input {
    position: absolute;
    width: 100%;
    height: 4px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.aw__d1opo5tc input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background: #FFFFFF;
    pointer-events: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
}

.aw__d1opo5tc input[type='range']::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 100%;
    background: #FFFFFF;
    pointer-events: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
}

.aw__r8mx9ft span {
    line-height: 16px;
}

.aw__r6u8bvh span {
    font-size: 0.75rem !important;
}

.aw__rivbp1s span {
    line-height: 16px;
}

.aw__gzfvrxc svg {
    width: 16px;
    height: 16px;
}

.aw__fmkbjfb b {
    color: #222222;
}

.aw__d15qd39x span {
    color: #777777;
    line-height: 18px;
    font-size: 0.875rem;
    font-weight: 700;
    display: block;
}

.main-header {
    line-height: 1.5;
    height: 56px;
    background-color:#ffba00;
    position: sticky;
    top: 0px;
    /*width: 100%;*/
    font-size: 0.875rem;
    z-index: 2;
    -webkit-transition-property: height;
    transition-property: height;
    transition-duration: 0.2s;
    padding: 10px;
}


.aw__sqgqzwq span {
    padding-left: 4px;
    font-size: 11px;
}

.aw__szp9uz0 {
    display: none;
}

@media (min-width: 768px) {
    .aw__szp9uz0 {
        display: block;
    }
}

.aw__szp9uz0.show-desktop {
    color: var(--szp9uz0-1);
    margin-left: 8px;
    max-width: 130px;
    height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: right;
    overflow: hidden;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
}

.aw__szp9uz0 b {
    font-size: 0.875rem;
}

.aw__i8z877t {
    color: var(--i8z877t-0) !important;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.aw__i8z877t:hover {
    opacity: 70%;
}

@media (min-width: 768px) {
    .aw__i8z877t {
        color: var(--i8z877t-0) !important;
    }

    .aw__i8z877t:hover {
        color: var(--i8z877t-0) !important;
    }
}


@media (max-width: 767px) {
}

.aw__mpdl6d2 {
    position: relative;
    height: 100%;
    font-weight: normal;
}

.aw__wghp0cg {
    position: relative;
    height: 100%;
}

.aw__i62c49q--active path {
    fill: #FF8800 !important;
}


.aw__j1ssv7av path {
    fill: #ffffff !important;
}


.aw__neg216p {
    padding: 0px 4px;
    line-height: 35px;
    float: none;
    height: 100%;
    cursor: pointer;
}

.aw__neg216p:first-child {
    padding-right: 0px;
    padding-left: 0px;
}

@media (min-width: 576px) {
    .aw__neg216p {
        padding: 0px 24px;
        line-height: 48px;
    }
}

@media (min-width: 768px) {
    .aw__neg216p {
        float: right;
        height: 48px;
    }
}

.aw__n40viec {
    color: #8C8C8C !important;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    float: none;
    height: 100%;
    font-size: 28px;
}

.aw__n40viec path {
    fill: #8C8C8C;
}

@media (min-width: 768px) {
    .aw__n40viec {
        color: #222222 !important;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .aw__n40viec path {
        fill: #222222;
    }

    .aw__n40viec:hover {
        color: #222222 !important;
        opacity: 0.6;
    }
}

.aw__i1408gg0 {
    vertical-align: middle;
    font-size: 36px;
    color: inherit;
}

@media (min-width: 768px) {
    .aw__i1408gg0 {
        font-size: 32px;
    }
}

.aw__is4v2dl {
    border-radius: 50%;
    text-indent: -9999px;
    white-space: nowrap;
}

.aw__uevk1au {
    width: 24px;
    height: 24px;
}

.aw__m17fph8v path {
    fill: #000;
}

@media (max-width: 575px) {
}

@media (max-width: 767px) {
}

.aw__cyyecol > p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.aw__cyyecol > small {
    line-height: 1.3;
    color: #979797;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0;
}

.aw__cyyecol > a {
    color: #4a90e2 !important;
    text-transform: uppercase;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    line-height: 1.5;
    font-size: 12px;
    font-weight: bold;
}

.aw__t1ockekz div {
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 30px;
}


.aw__j10y9k4g path {
    fill: #ffffff;
}

@media (max-width: 767px) {
}

@media (min-width: 576px) {
}



@media (max-width: 767px) {
}


.aw__m1vifr0j path {
    fill: #000;
}

.aw__j88fks8 path {
    fill: #ffffff;
}


.aw__j10ox233 path {
    fill: #ffffff;
}


.aw__c1cj7ayj svg {
    vertical-align: middle;
    margin: auto;
}

.aw__juteph1 path {
    fill: #ffffff;
}

.aw__nwqpj7p > li {
    color: black;
    opacity: 1 !important;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    border-radius: 4px;
}

.aw__nwqpj7p > li:not(:last-child) {
    border-bottom: 1px solid #f8f8f8;
}

.aw__nwqpj7p > li a {
    opacity: 1 !important;
    outline: none;
    border: none;
    background-color: transparent;
    text-transform: none;
    width: 100%;
    text-align: left;
    color: black;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.aw__nwqpj7p > li:hover {
    background-color: #f8f8f8;
}


.aw__t1g40xvm span {
    margin-left: 16px !important;
}

.aw__cm4yjvg {
    background-color: #FF8800;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    z-index: 1;
    width: 48px;
    float: right;
    height: 28px;
    color: #FFFFFF;
    font-size: 1.25rem;
    margin-left: 4px;
    box-shadow: none;
    line-height: 28px;
    display: none;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .aw__cm4yjvg {
        display: inline-block;
    }
}

.aw__cm4yjvg svg {
    pointer-events: none;
    width: 16px;
    height: 16px;
}

.aw__d1es5zbd svg {
    margin-top: 4px;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 12px;
    color: #FF8800;
}


.aw__s1idqica svg {
    font-size: 20px;
    vertical-align: middle;
    pointer-events: none;
}

.aw__ccfkmun svg {
    vertical-align: middle;
    pointer-events: none;
    color: #777777;
}

.aw__s7k33ul {
    border: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    margin-left: 0px;
    -webkit-transition-property: width, margin-left;
    transition-property: width, margin-left;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}


.aw__ah4jb82 {
    top: 0px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: right;
    z-index: 1;
    height: 100%;
    background: var(--ah4jb82-2);
    right: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    width: var(--ah4jb82-6);
}

@media (min-width: 768px) {
    .aw__ah4jb82 {
        right: 4px;
        width: 100px;
    }
}

.aw__t16o28i7 {
    width: 100%;
    height: 36px;
    border-radius: 4px;
    border: none;
    position: relative;
    padding: 0px;
    padding-right: var(--t16o28i7-3);
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    outline: none;
    color: #222222;
    background: var(--t16o28i7-5);
    text-indent: var(--t16o28i7-6);
}

@media (min-width: 768px) {
    .aw__t16o28i7 {
        text-indent: 12px;
        width: calc(100% - 80px);
    }
}

.aw__i1nw9hyb .itemForSale_block strong {
    line-height: 12px;
}

@media only screen and (max-height: 865px) {
}

.aw__i144c2sv b {
    color: #222222;
}

.aw__i144c2sv img {
    object-fit: cover;
}

@media (max-width: 768px) {
}

.aw__i144c2sv .itemForSale_store img {
    position: absolute;
    left: -9px;
    width: 14px;
    top: 3px;
}



@media (max-width: 768px) {
}

.aw__i144c2sv .itemForSale_head br {
    display: none;
}

@media (max-width: 768px) {
}

.aw__i144c2sv b {
    font-size: 0.875rem;
    line-height: 20px;
}

@media (max-width: 768px) {
}

.aw__ihin3hl.suggest b {
    color: #222;
    font-weight: 400;
}


.aw__slq94yq {
    font-size: 0.875rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0px auto;
    border-radius: 4px;
    position: relative;
    background: none;
}

@media (min-width: 768px) {
    .aw__slq94yq {
        background: var(--slq94yq-4);
    }
}

.aw__slq94yq input {
    font-size: 0.875rem;
}

.aw__slq94yq #autoComplete {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.aw__d1g2y39b {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.aw__s1wdsl35 {
    width: 100%;
}

@media (min-width: 768px) {
    .aw__s1wdsl35 {
        padding-right: 32px;
    }
}

.aw__h1gb9yk {
    height: 36px;
    width: 144px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aw__h1gb9yk:hover {
    background-color: #E56700 !important;
    border-color: #E56700 !important;
}

.aw__cexsh2j {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    height: 32px;
    background-color: var(--cexsh2j-2);
    color: var(--cexsh2j-3);
    border-radius: 0px 0px 0px 8px;
    padding: 26px 12px;
    font-size: 0.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.aw__cexsh2j span {
    font-size: 0.875rem;
}

@-webkit-keyframes fadeIn-aw__mxjwfwa {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fadeIn-aw__mxjwfwa {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fadeOut-aw__mxjwfwa {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes fadeOut-aw__mxjwfwa {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.aw__c19wws31 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aw__dtt35j3 {
    width: 1.125rem;
    height: 100%;
}

.aw__j1a2zdhw path {
    fill: #ffffff !important;
}

.aw__lza0u1 img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: inherit;
}

.aw__i1utyhlb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 6px;
}

.aw__co22znp {
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*-ms-flex-pack: center;*/
    /*justify-content: center;*/
    /*min-width: 320px;*/
    /*margin: auto;*/
    /*padding:  0px;*/
    /*justify-content: space-between;*/
    /*-webkit-box-pack: justify;*/
}



.aw__l152mft9 {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}

@media (min-width: 768px) {
    .aw__l152mft9 {
        -webkit-flex: 0.3 1 auto;
        -ms-flex: 0.3 1 auto;
        flex: 0.3 1 auto;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left;
    }
}

.aw__l1l4rfje {
    width: 142px;
    height: 52px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aw__ldrazpr {
    height: 30px;
}

@media (min-width: 768px) {
    .aw__ldrazpr {
        height: 35px;
    }
}

.aw__n1kniwks {
    display: none;
    height: 48px;
    cursor: pointer;
    padding: 0px 4px;
    line-height: 35px;
    font-size: 0.875rem;
}

.aw__n1kniwks a {
    font-size: 0.875rem;
}

.aw__n1kniwks:first-child {
    padding-right: 0px;
}

@media (min-width: 768px) {
    .aw__n1kniwks {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        line-height: 32px;
        min-width: 40px;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .aw__n1kniwks:last-child {
        padding-right: 0px;
    }
}

.aw__rjogxfr {
    display: none;
}

@media (min-width: 768px) {
    .aw__rjogxfr {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

@media (max-width: 575px) {
}


.aw__c15ofxwr > img {
    width: 100%;
}

@media (max-width: 319px) {
}


.aw__la2dsz4 {
    max-width: var(--la2dsz4-0);
    width: var(--la2dsz4-0);
    padding-right: var(--la2dsz4-2);
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 12px;
}

.aw__c8p27ky {
    width: 100%;
    padding: 10px 0;
}

.aw__r1fkdta0 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aw__r1fkdta0 > span {
    z-index: 101;
}

.aw__nygw70q {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
}

.aw__s575q7c input {
    font-size: 1rem;
}

@media (max-width: 767px) {
    @-webkit-keyframes slideUp-aw__s575q7c {
        0% {
            -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
            transform: translateY(100%);
        }
        100% {
            -webkit-transform: translateY(0%);
            -ms-transform: translateY(0%);
            transform: translateY(0%);
        }
    }@keyframes slideUp-aw__s575q7c {
         0% {
             -webkit-transform: translateY(100%);
             -ms-transform: translateY(100%);
             transform: translateY(100%);
         }
         100% {
             -webkit-transform: translateY(0%);
             -ms-transform: translateY(0%);
             transform: translateY(0%);
         }
     }
}

.aw__s575q7c > div {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (min-width: 768px) {
    .aw__s575q7c > div {
        width: 744px;
    }
}

@media (min-width: 992px) {
    .aw__s575q7c > div {
        width: 100%;
        padding: 0px 24px;
    }
}


.aw__j1oly3ve path {
    stroke: none;
}

.aw__v1ntnwg7 img {
    width: 86px;
    object-fit: contain;
}

@media (max-width: 767px) {
}



@media (min-width: 992px) {
}


@media screen and (max-width: 768px) {
}

@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] {
        font-size: 16px;
    }
}

@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] {
        font-size: 16px;
    }
}

@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] {
        font-size: 16px;
    }
}

@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"] {
    font-size: 16px;
}
}

.aw__sa4yob3 {
    line-height: 1.5;
    background-color: var(--sa4yob3-0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    height: 40px;
    width: 100%;
    z-index: 190;
    top: 0;
    color: var(--sa4yob3-1);
}

.aw__sa4yob3 input {
    font-size: 1rem;
}
.aw__d1yvsyvu > span {
    color: black;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: block;
    padding: 0px;
    border-radius: 4px;
}

@media (min-width: 992px) {
}


.aw__sa4yob3 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.aw__d1yvsyvu > span:hover {
    background-color: #fff;
}


.aw__ioncp07 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.aw__muulhme img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
